 @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body {
    font-family: 'Anton', sans-serif;
    color: #4f8bc7;
    background-image: url(./images/bill-counter.png);
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}


.container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.description {
    display: block;
    background-color: white;
    border-color: floralwhite;
    color:#4f8bc7 ;
    padding: 1rem;
    margin-top: 0%;
    margin-bottom: 0%;
}

.label {
    margin: auto;
    align-items: center;
    text-align: center;
    background-color: #4f8bc7;
    color: white;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 1rem;
}

#bill-amount {
    
    padding: 0.5rem;
    width: 50vh;
}

#cash-div {
    display: flex;
    flex-direction: column;
}

#cash-given {
    padding: 0.5rem;
    width: 50vh;
}

#next-button {
    background-color: #4f8bc7;
    opacity: 0.8;
    border-color: white;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    padding: 0.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
}

#next-button:hover {
    opacity: 1.0;
}

#check-button {
    background-color: #4f8bc7;
    opacity: 0.8;
    border-color: white;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    padding: 0.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
}

#check-button:hover {
    opacity: 1.0;
    background-color: #4f8bc7;
}

.change-table {
    margin-top: 1rem;
    border: solid 2px #4f8bc7;
}

.change-table th {
    background-color:white;
    color: #4f8bc7;
    padding: 0.5rem;
}

.typeNo-Of-Notes {
    background-color: white;
    padding: 1.2rem;
    border: solid 2px#4f8bc7;
}

.rs {
    background-color: #4f8bc7;
    color: white;
    text-align: center;
    border: solid 2px #4f8bc7;
}

@media screen and (max-width: 400px) {
    #bill-amount,
    #cash-div {
        width: 50%;
    }
    #cash-given {
        width: 100%;
        margin-left: -5%;
    }
    .change-table {
        display: flex;
        flex-direction: column;
    }
    .typeNo-Of-Notes,
    .change-table th {
        padding: 0.2rem;
        text-align: center;
        margin: 0%;
    }
}